@media all and (max-width: 576px) {
  .xs-width-col-1 {
    width: 8.33%;
  }
  .xs-width-col-2 {
    width: 16.66%;
  }
  .xs-width-col-3 {
    width: 25%;
  }
  .xs-width-col-4 {
    width: 33.33%;
  }
  .xs-width-col-5 {
    width: 41.66%;
  }
  .xs-width-col-6 {
    width: 50%;
  }
  .xs-width-col-7 {
    width: 58.33%;
  }
  .xs-width-col-8 {
    width: 66.66%;
  }
  .xs-width-col-9 {
    width: 75%;
  }
  .xs-width-col-10 {
    width: 83.33%;
  }
  .xs-width-col-11 {
    width: 91.66%;
  }
  .xs-width-col-12 {
    width: 100%;
  }
  .email-address {
    display: none;
  }
  .menu {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }
  .sub-menu-button {
    display: block;
  }
  .category-context {
    text-align: center;
  }
  .section-title > h3 {
    font-size: 1.4em;
    font-family: "B-yekan";
    font-weight: normal;
  }
  .section-title > a {
    color: inherit;
    font-size: 0.8em;
  }
  .sub-description {
    text-align: center;
    flex-flow: column wrap;
  }
  .section-title > h3.toy-type-title {
    display: none;
  }
  .section-title {
    justify-content: center;
  }
  .section-title {
    width: 100%;
  }
  .category-buttons {
    width: 100%;
  }
  .toy-type {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .quality-part {
    text-align: center;
  }
  .activity-history p {
    padding-left: 0px;
  }
  .design-section p {
    padding-right: 0px;
  }
  .design-title {
    margin-right: 0px;
  }
  .activity-history h3::before {
    right: 50%;
    transform: translateX(50%);
  }
  .design-section h3::before {
    right: 50%;
    transform: translateX(50%);
  }
  .responsive-height {
    height: 300px;
  }
  .form-padd {
    padding-left: 0px;
  }
  .product-desc {
    padding-right: 8px;
    padding-left: 8px;
  }
  .more-toys {
    display: none;
  }
  .basket-cards {
    height: 100%;
  }
  .basket-img-container {
    width: 30%;
  }
  .basket-list {
    height: 100%;
  }
}
@media all and (min-width: 576px) {
  .sm-width-col-1 {
    width: 8.33%;
  }
  .sm-width-col-2 {
    width: 16.66%;
  }
  .sm-width-col-3 {
    width: 25%;
  }
  .sm-width-col-4 {
    width: 33.33%;
  }
  .sm-width-col-5 {
    width: 41.66%;
  }
  .sm-width-col-6 {
    width: 50%;
  }
  .sm-width-col-7 {
    width: 58.33%;
  }
  .sm-width-col-8 {
    width: 66.66%;
  }
  .sm-width-col-9 {
    width: 75%;
  }
  .sm-width-col-10 {
    width: 83.33%;
  }
  .sm-width-col-11 {
    width: 91.66%;
  }
  .sm-width-col-12 {
    width: 100%;
  }
  .menu {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }
  .sub-menu-button {
    display: block;
  }
  .category-context {
    text-align: center;
  }
  .sub-description {
    text-align: center;
    flex-flow: column wrap;
  }
  .section-title > h3.toy-type-title {
    display: none;
  }
  .section-title {
    justify-content: center;
  }
  .section-title {
    width: 100%;
  }
  .category-buttons {
    width: 100%;
  }
  .toy-type {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .quality-part {
    text-align: center;
  }
  .activity-history p {
    padding-left: 0px;
  }
  .design-section p {
    padding-right: 0px;
  }
  .design-title {
    margin-right: 0px;
  }
  .activity-history h3::before {
    right: 50%;
    transform: translateX(50%);
  }
  .design-section h3::before {
    right: 50%;
    transform: translateX(50%);
  }
  .responsive-height {
    height: 300px;
  }
  .form-padd {
    padding-left: 0px;
  }
  .product-desc {
    padding-right: 8px;
    padding-left: 8px;
  }
  .more-toys {
    display: none;
  }
}
@media all and (min-width: 768px) {
  .md-width-col-1 {
    width: 8.33%;
  }
  .md-width-col-2 {
    width: 16.66%;
  }
  .md-width-col-3 {
    width: 25%;
  }
  .md-width-col-4 {
    width: 33.33%;
  }
  .md-width-col-5 {
    width: 41.66%;
  }
  .md-width-col-6 {
    width: 50%;
  }
  .md-width-col-7 {
    width: 58.33%;
  }
  .md-width-col-8 {
    width: 66.66%;
  }
  .md-width-col-9 {
    width: 75%;
  }
  .md-width-col-10 {
    width: 83.33%;
  }
  .md-width-col-11 {
    width: 91.66%;
  }
  .md-width-col-12 {
    width: 100%;
  }
  .menu {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }
  .sub-menu-button {
    display: block;
  }
  .category-context {
    text-align: center;
  }
  .sub-description {
    text-align: center;
    flex-flow: column wrap;
  }
  .section-title > h3.toy-type-title {
    display: none;
  }
  .section-title {
    justify-content: center;
  }
  .section-title {
    width: auto;
  }
  .category-buttons {
    width: 100%;
  }
  .toy-type {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .quality-part {
    text-align: center;
  }
  .activity-history p {
    padding-left: 0px;
  }
  .design-section p {
    padding-right: 0px;
  }
  .design-title {
    margin-right: 0px;
  }
  .activity-history h3::before {
    right: 50%;
    transform: translateX(50%);
  }
  .design-section h3::before {
    right: 50%;
    transform: translateX(50%);
  }
  .responsive-height {
    height: 400px;
  }
  .form-padd {
    padding-left: 0px;
  }
  .product-desc {
    padding-right: 8px;
    padding-left: 8px;
  }
  .more-toys {
    display: none;
  }
}
@media all and (min-width: 992px) {
  .lg-width-col-1 {
    width: 8.33%;
  }
  .lg-width-col-2 {
    width: 16.66%;
  }
  .lg-width-col-3 {
    width: 25%;
  }
  .lg-width-col-4 {
    width: 33.33%;
  }
  .lg-width-col-5 {
    width: 41.66%;
  }
  .lg-width-col-6 {
    width: 50%;
  }
  .lg-width-col-7 {
    width: 58.33%;
  }
  .lg-width-col-8 {
    width: 66.66%;
  }
  .lg-width-col-9 {
    width: 75%;
  }
  .lg-width-col-10 {
    width: 83.33%;
  }
  .lg-width-col-11 {
    width: 91.66%;
  }
  .lg-width-col-12 {
    width: 100%;
  }
  .menu {
    display: flex;
  }
  .mobile-menu {
    display: none;
  }
  .sub-menu-button {
    display: none;
  }
  .scroll-donw-link {
    display: flex;
  }
  .category-context {
    text-align: right;
  }
  .sub-description {
    text-align: right;
    flex-flow: row wrap;
  }
  .section-title > h3.toy-type-title {
    display: block;
  }
  .section-title {
    justify-content: space-between;
  }
  .category-buttons {
    width: auto;
  }
  .toy-type {
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .quality-part {
    text-align: right;
  }
  .activity-history p {
    padding-left: 60px;
  }
  .design-section p {
    padding-right: 60px;
  }
  .design-title {
    margin-right: 60px;
  }
  .activity-history h3::before {
    right: 0;
    transform: translateX(0);
  }
  .design-section h3::before {
    right: 0;
    transform: translateX(0);
  }
  .responsive-height {
    height: 440px;
  }
  .form-padd {
    padding-left: 60px;
  }
  .product-desc {
    padding-right: 0px;
    padding-left: 80px;
  }
  .more-toys {
    display: block;
  }
}
@media all and (min-width: 1200px) {
  .xl-width-col-1 {
    width: 8.33%;
  }
  .xl-width-col-2 {
    width: 16.66%;
  }
  .xl-width-col-3 {
    width: 25%;
  }
  .xl-width-col-4 {
    width: 33.33%;
  }
  .xl-width-col-5 {
    width: 41.66%;
  }
  .xl-width-col-6 {
    width: 50%;
  }
  .xl-width-col-7 {
    width: 58.33%;
  }
  .xl-width-col-8 {
    width: 66.66%;
  }
  .xl-width-col-9 {
    width: 75%;
  }
  .xl-width-col-10 {
    width: 83.33%;
  }
  .xl-width-col-11 {
    width: 91.66%;
  }
  .xl-width-col-12 {
    width: 100%;
  }
  .menu {
    display: flex;
  }
  .mobile-menu {
    display: none;
  }
  .category-context {
    text-align: right;
  }
}
@media all and (min-width: 1400px) {
  .xxl-width-col-1 {
    width: 8.33%;
  }
  .xxl-width-col-2 {
    width: 16.66%;
  }
  .xxl-width-col-3 {
    width: 25%;
  }
  .xxl-width-col-4 {
    width: 33.33%;
  }
  .xxl-width-col-5 {
    width: 41.66%;
  }
  .xxl-width-col-6 {
    width: 50%;
  }
  .xxl-width-col-7 {
    width: 58.33%;
  }
  .xxl-width-col-8 {
    width: 66.66%;
  }
  .xxl-width-col-9 {
    width: 75%;
  }
  .xxl-width-col-10 {
    width: 83.33%;
  }
  .xxl-width-col-11 {
    width: 91.66%;
  }
  .xxl-width-col-12 {
    width: 100%;
  }
  .menu {
    display: flex;
  }
  .mobile-menu {
    display: none;
  }
  .sub-menu-button {
    display: none;
  }
}
.container-fluid {
  width: 100%;
}
.container {
  max-width: 1200px;
}
