@font-face {
  font-family: "Iran-sans-regular";
  src: url(../fonts/Font_IRAN_Sans_Regular/IRANSans.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/Font_IRAN_Sans_Regular/IRANSans.eot)
      format("embedded-opentype"),
    url(../fonts/Font_IRAN_Sans_Regular/IRANSans.svg) format("svg"),
    url(../fonts/Font_IRAN_Sans_Regular/IRANSans.ttf) format("trutype"),
    url(../fonts/Font_IRAN_Sans_Regular/IRANSans.woff) format("woff"),
    url(../fonts/Font_IRAN_Sans_Regular/IRANSans.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Iran-sans-bold";
  src: url(../fonts/Font_IRAN_Sans_Bold/IRANSans-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/Font_IRAN_Sans_Bold/IRANSans-Bold.eot)
      format("embedded-opentype"),
    url(../fonts/Font_IRAN_Sans_Bold/IRANSans-Bold.svg) format("svg"),
    url(../fonts/Font_IRAN_Sans_Bold/IRANSans-Bold.ttf) format("truetype"),
    url(../fonts/Font_IRAN_Sans_Bold/IRANSans-Bold.woff) format("woff"),
    url(../fonts/Font_IRAN_Sans_Bold/IRANSans-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "B-yekan";
  src: url(../fonts/B_Yekan/BYekan.eot?#iefix) format("embedded-opentype"),
    url(../fonts/B_Yekan/BYekan.eot) format("embedded-opentype"),
    url(../fonts/B_Yekan/BYekan.svg) format("svg"),
    url(../fonts/B_Yekan/BYekan.ttf) format("truetype"),
    url(../fonts/B_Yekan/BYekan.woff) format("woff"),
    url(../fonts/B_Yekan/BYekan.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  scroll-behavior: smooth;
  text-decoration: none;
  direction: rtl;
  font-family: "Iran-sans-regular", "B-yekan", "Iran-sans-bold";
}
body {
  background-color: #f1f1f1;
  padding-top: 90px;
}

/* FF5D5D */
/* 303030 */
/* Styles which may generally be used  */
.padd-top-bottom-3 {
  padding-top: 3px;
  padding-bottom: 3px;
}
.padd-top-bottom-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.padd-top-bottom-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.padd-top-bottom-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padd-top-bottom-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.padd-top-bottom-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.padd-top-bottom-18 {
  padding-top: 18px;
  padding-bottom: 18px;
}
.padd-top-bottom-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.padd-top-bottom-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.padd-top-bottom-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.padd-top-bottom-35 {
  padding-top: 35px;
  padding-bottom: 35px;
}
.padd-top-bottom-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.padd-top-bottom-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.padd-right-left-55 {
  padding-right: 55px;
  padding-left: 5px;
}
.padd-right-left-60 {
  padding-right: 60px;
  padding-left: 60px;
}
.padd-right-left-65 {
  padding-right: 65px;
  padding-left: 65px;
}
.padd-right-left-70 {
  padding-right: 70px;
  padding-left: 70px;
}
.padd-right-left-3 {
  padding-right: 3px;
  padding-bottom: 3px;
}
.padd-right-left-5 {
  padding-right: 5px;
  padding-left: 5px;
}
.padd-right-left-8 {
  padding-right: 8px;
  padding-left: 8px;
}
.padd-right-left-10 {
  padding-right: 10px;
  padding-left: 10px;
}
.padd-right-left-12 {
  padding-right: 12px;
  padding-left: 12px;
}
.padd-right-left-15 {
  padding-right: 15px;
  padding-left: 15px;
}
.padd-right-left-18 {
  padding-right: 18px;
  padding-left: 18px;
}
.padd-right-left-20 {
  padding-right: 20px;
  padding-left: 20px;
}
.padd-right-left-25 {
  padding-right: 25px;
  padding-left: 25px;
}
.padd-right-left-30 {
  padding-right: 30px;
  padding-left: 30px;
}
.padd-right-left-35 {
  padding-right: 35px;
  padding-left: 35px;
}
.padd-right-left-40 {
  padding-right: 40px;
  padding-left: 40px;
}
.padd-right-left-50 {
  padding-right: 50px;
  padding-left: 50px;
}
.padd-right-left-55 {
  padding-right: 55px;
  padding-left: 5px;
}
.padd-right-left-60 {
  padding-right: 60px;
  padding-left: 60px;
}
.padd-right-left-65 {
  padding-right: 65px;
  padding-left: 65px;
}
.padd-right-left-70 {
  padding-right: 70px;
  padding-left: 70px;
}
.margin-top-bottom-3 {
  margin-top: 3px;
  margin-bottom: 3px;
}
.margin-top-bottom-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.margin-top-bottom-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.margin-top-bottom-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-top-bottom-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.margin-top-bottom-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.margin-top-bottom-18 {
  margin-top: 18px;
  margin-bottom: 18px;
}
.margin-top-bottom-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-top-bottom-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.margin-top-bottom-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.margin-top-bottom-35 {
  margin-top: 35px;
  margin-bottom: 35px;
}
.margin-top-bottom-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.margin-top-bottom-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.padd-top-bottom-55 {
  padding-top: 55px;
  padding-bottom: 5px;
}
.padd-top-bottom-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.padd-top-bottom-65 {
  padding-top: 65px;
  padding-bottom: 65px;
}
.padd-top-bottom-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.margin-right-left-3 {
  margin-right: 3px;
  margin-bottom: 3px;
}
.margin-right-left-5 {
  margin-right: 5px;
  margin-left: 5px;
}
.margin-right-left-8 {
  margin-right: 8px;
  margin-left: 8px;
}
.margin-right-left-10 {
  margin-right: 10px;
  margin-left: 10px;
}
.margin-right-left-12 {
  margin-right: 12px;
  margin-left: 12px;
}
.margin-right-left-15 {
  margin-right: 15px;
  margin-left: 15px;
}
.margin-right-left-18 {
  margin-right: 18px;
  margin-left: 18px;
}
.margin-right-left-20 {
  margin-right: 20px;
  margin-left: 20px;
}
.margin-right-left-25 {
  margin-right: 25px;
  margin-left: 25px;
}
.margin-right-left-30 {
  margin-right: 30px;
  margin-left: 30px;
}
.margin-right-left-35 {
  margin-right: 35px;
  margin-left: 35px;
}
.margin-right-left-40 {
  margin-right: 40px;
  margin-left: 40px;
}
.margin-right-left-50 {
  margin-right: 50px;
  margin-left: 50px;
}
.dis-flex {
  display: flex;
}
.main-axis-centered {
  justify-content: center;
}
.cross-axis-center {
  align-items: center;
}
.full-width-image {
  width: 100%;
}

/* Specific styles */
.header-container {
  position: fixed;
  top: 0px;
  height: 20px;
  z-index: 1;
}
.nav-social {
  background-color: #ff5d5d;
}
.social-container {
  width: inherit;
}
.social-list {
  width: 50%;
  display: flex;
}
.icons-list {
  color: #fff;
}
.icon-items {
  border-radius: 100px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.icons {
  width: 100%;
  height: 100%;
  display: block;
  color: inherit;
  font-size: 0.88em;
  text-align: center;
  line-height: 26px;
  transition: all 0.3s;
}
.contanct-list {
  flex-direction: row-reverse;
}
.contact-ietms {
  font-size: 1em;
  font-family: "Iran-sans-regular";
  color: #fff;
}
.contact-ietms > a {
  color: inherit;
  font-size: inherit;
  font-family: sans-serif;
}
.navigation {
  background: #fff;
  box-shadow: 0px 0px 8px 0px #5e5e5e46;
}
.navigation-container {
  width: inherit;
  justify-content: space-between;
}
.logo-link {
  width: 110px;
}
.logo-link > img {
  width: inherit;
}
.menu-links {
  display: inline-block;
  color: #303030;
  font-family: "Iran-sans-bold";
  transition: all 0.3s;
  position: relative;
  font-size: 1.1em;
}
.menu-links::after {
  content: "";
  background-color: #ff5d5d;
  position: absolute;
  bottom: 0px;
  right: 50%;
  width: 0%;
  height: 2px;
  transform: translateX(50%);
  transition: all 0.5s;
}
.mobile-menu {
  width: inherit;
  background: #fff;
  position: absolute;
  top: 89px;
  right: 50%;
  transform: translateX(50%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  clip-path: circle(0px at left top);
  transition: all 1s ease;
}
.show-sub {
  clip-path: circle(150% at left top);
}
.mobile-menu > ul {
  width: 100%;
}
.sub-item {
  width: 100%;
  position: relative;
  text-align: center;
  color: #303030;
  transition: all 0.3s;
}
.sub-link {
  font-size: 1.5em;
  color: inherit;
  font-family: "Iran-sans-regular";
  transition: all 0.3s;
}
.shop-basket {
  border: none;
  font-family: "Font Awesome 5 Free";
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.bsket-length {
  position: absolute;
  top: 1px;
  right: -4px;
  background-color: #ff5d5d;
  color: #fff;
  border-radius: 100%;
  width: 19px;
  height: 19px;
  text-align: center;
  line-height: 18px;
  font-size: 1em;
}
.sub-menu-button {
  width: 33px;
  height: 33px;
  border: none;
  border-radius: 5px;
  background: transparent;
  transition: all 0.3s;
}
.bars {
  width: 80%;
  height: 3px;
  background-color: black;
  margin: 4px auto;
  transition: all 0.3s;
}
.opened:nth-of-type(1) {
  transform: translate(0px, 6px) rotateZ(60deg);
}
.opened:nth-of-type(2) {
  display: none;
}
.opened:nth-of-type(3) {
  transform: translate(0px, -1px) rotateZ(130deg);
}
.basket-stored {
  height: 100vh;
  position: absolute;
  top: 0px;
  display: none;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #3030306b;
  transition: all 0.3s;
}
.basket-cards {
  height: 280px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  transform: scale(0);
}
.card-section {
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.322);
}
.card-section > h6 {
  font-family: "Iran-sans-regular";
  color: #303030;
  font-size: 1.4em;
}
.card-section > i {
  color: #303030;
  font-size: 1.7em;
  align-items: center;
}
.cards-flex {
  display: flex;
}
.scale-normal {
  animation: scaleOne 0.4s ease 0.2s 1 normal forwards;
}
.image-section {
  height: 640px;
  background: url(../images/image-seciton-background.jpg) no-repeat center
    center;
  background-size: cover;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.context-container {
  width: 100%;
}
.inner-context {
  width: 100%;
  max-width: 530px;
  background-color: #fff;
  border-radius: 18px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex;
  align-items: center;
  align-content: center;
  transition: all 0.3s;
  transform: scale(0);
  animation: scaleOne 1s ease 0.5s 1 normal forwards;
  position: relative;
}
.inner-context > h1 {
  text-align: center;
  font-size: 2em;
  line-height: 48px;
  font-family: "Iran-sans-bold";
  color: #303030;
}
.inner-context > h1::before {
  content: "Toy world";
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  padding-top: 15px;
  font-size: 0.5em;
  text-align: center;
  font-family: sans-serif;
  color: #ff5d5d;
}
.inner-context > a {
  background: #ff5d5d;
  color: #fff;
  border-radius: 10px;
  font-size: 1.1em;
  font-family: "Iran-sans-regular";
  transition: all 0.3s;
}
.scroll-donw-link {
  position: absolute;
  bottom: -22px;
  background: #fff;
  width: 43px;
  padding: 3px;
  height: 44px;
  border-radius: 100%;
  box-shadow: 0px 0px 8px 0px #6868686c;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  animation: scaleOne 0.8s ease 1s 1 normal forwards;
}
.inner-animation {
  width: 45%;
  height: 80%;
  border: 2px solid #bbb;
  border-radius: 15px;
}
.scroll-dott {
  display: block;
  width: 7px;
  height: 7px;
  background-color: #bbb;
  border-radius: 100%;
  animation: scroll-down 1.2s ease 0s infinite normal forwards;
}
.sub-menu-button {
  display: none;
}
.category-section {
  padding-top: 40px;
}
.category-content {
  width: inherit;
}
.category-show-up {
  animation: scaleOne 1s ease 0s 1 normal forwards;
}
.category-list {
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-flow: row wrap;
}
.category-list > li {
  opacity: 0;
  transform: scale(0);
}
.wooden-toys {
  background-color: #fb416b;
  border-radius: 8px;
  flex-flow: row wrap-reverse;
}
.stuffed-toys {
  background-color: #ffc12c;
  border-radius: 8px;
  flex-flow: row wrap-reverse;
}
.category-title {
  color: #fff;
  font-size: 2em;
  font-weight: normal;
  font-family: "B-yekan";
}
.buy-category-link {
  background-color: #fff;
  color: #303030;
  border-radius: 20px;
  font-size: 1.7em;
  display: inline-block;
  transition: all 0.3s;
}
.imge-part {
  height: 138px;
  position: relative;
}
.category-image {
  position: absolute;
  bottom: 10px;
  right: 50%;
  width: 220px;
  height: 220px;
  transform: translateX(50%);
}
.scroll-anchor {
  position: absolute;
  bottom: 0px;
  right: 50%;
  transform: translateX(50%);
}
.toy-container {
  width: inherit;
}
.section-title {
  border-bottom: 3px solid #e5e5e5;
  flex-flow: nowrap wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.section-title::before {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0px;
  width: 22%;
  height: 3px;
  border-radius: 15px;
  background-color: #ff5d5d;
}
.section-title > h3 {
  font-size: 2em;
  font-family: "B-yekan";
  font-weight: normal;
}
.section-title > a {
  color: inherit;
  font-size: 1.05em;
  position: relative;
}
.section-title > a::after {
  content: "\f177";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  margin-top: 5px;
  padding: 5px 7px;
  display: inline-block;
}
.section-title > a::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #e5e5e5;
  position: absolute;
  bottom: -7px;
  border-radius: 100px;
  transition: all 0.3s;
}
.toy-list {
  flex-flow: row wrap;
}
.category-list-items {
  background-color: #fff;
  display: block;
  border-radius: 10px;
  color: #303030;
  text-align: center;
  box-shadow: 0px 0px 8px -4px rgba(83, 83, 83, 0.329);
  transition: all 0.3s;
}
.category-list-items > h4,
.price {
  font-weight: normal;
}
.category-list-items > h4 {
  font-size: 1.4em;
}
.price {
  font-size: 1em;
  background-color: #ff5d5d;
  width: 95px;
  border-radius: 60px;
  padding: 3px 0px;
  margin: 7px auto;
  color: #fff;
}

/* Hover styles */
.icons:hover {
  background-color: rgba(0, 0, 0, 0.26);
}
.contact-ietms > a:hover {
  text-decoration: underline;
}
.menu-links:hover::after {
  width: 100%;
}
.sub-item:hover {
  color: #fff;
  background-color: #ff5d5d;
}
.inner-context > a:hover {
  transform: scale(1.1);
  box-shadow: #ff5d5d 0px 25px 20px -20px;
}
.buy-category-link:hover {
  transform: scale(1.1);
  box-shadow: #fff 0px 25px 20px -19px;
}
.section-title > a:hover::before {
  background-color: #ff5d5d;
}
.category-list-items:hover {
  transform: scale(1.05);
  box-shadow: rgba(109, 109, 109, 0.274) 0px 5px 15px;
}

/* Animations */

@keyframes sumShow {
  100% {
    clip-path: circle(150% at left top);
  }
}
@keyframes scaleOne {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scroll-down {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  5% {
    opacity: 1;
    transform: translateY(-8px);
  }
  50% {
    opacity: 1;
    transform: translateY(7.5px);
  }
  60% {
    opacity: 1;
    transform: translateY(7.5px);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(-8px);
  }
}
